.cart__product__image {
    width: 100px; /* Adjust width as needed */
    height: 100px; /* Adjust height as needed */
    object-fit: cover; /* Ensure the image covers the entire area */
}
.product-image {
    width: 200px;
    height: 150px;
}

