{% extends "base.html" %}

{% load static %}

{% block title %}Checkout{% endblock title %}

{% block content %}

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="{% url "home" %}"><i class="fa fa-home"></i> Home</a>
                        <a href="#">{{pd.cetagory}} </a>
                        <span>{{pd.name}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__left product__thumb nice-scroll">
                            <a class="pt active" href="#product-1">
                                <img src="{{pd.images1.url}}" alt="" class="product-image" style='width: 400; height: 200;'>
                            </a>
                            <a class="pt" href="#product-2">
                                <img src="{{pd.images1.url}}" alt="">
                            </a>
                            <a class="pt" href="#product-3">
                                <img src="{{pd.images1.url}}" alt="">
                            </a>
                            <a class="pt" href="#product-4">
                                <img src="{{pd.images1.url}}" alt="">
                            </a>
                        </div>
                        <div class="product__details__slider__content">
                            <div class="product__details__pic__slider owl-carousel">
                                <img data-hash="product-1" class="product__big__img" src="{{pd.images1.url}}" alt="">
                                <img data-hash="product-2" class="product__big__img" src="{{pd.images1.url}}" alt="">
                                <img data-hash="product-3" class="product__big__img" src="{{pd.images1.url}}" alt="">
                                <img data-hash="product-4" class="product__big__img" src="{{pd.images1.url}}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="product__details__text">
                        <h3>{{pd.name}} <span>Brand: SKMEIMore Men Watches from SKMEI</span></h3>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <span>( 138 reviews )</span>
                        </div>
                        <div class="product__details__price">$ {{pd.price}}TK <span>{% if pd.old_price %}{{pd.old_price}}{% endif %}</span></div>
                        <p>Nemo enim ipsam voluptatem quia aspernatur aut odit aut loret fugit, sed quia consequuntur
                        magni lores eos qui ratione voluptatem sequi nesciunt.</p>
                        <div class="product__details__button d-flex align-items-center">
                            
                            <div class="input-group quantity mb-5 rounded-pill" style="width: 100px;">
                                <div class="input-group-prepend">
                                    <button class="btn btn-sm btn-minus rounded-circle bg-light border">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <input type="text" class="form-control form-control-sm text-center border-0" id="quantity" value="{{quantity}}">
                                <div class="input-group-append">
                                    <button class="btn btn-sm btn-plus rounded-circle bg-light border">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div> 
                            <form action="/add-to-cart">
                                <input type="hidden" name="prod_id" value="{{ pd.id }}" id="prod_id"> 
                                <input type="hidden" name="product_quantity" id="product_quantity" value="1"> 
                                <button type="submit" class="btn btn-danger rounded-pill px-4 py-2 mb-4 text-white">
                                    <span class="icon_bag_alt"></span> Add to Cart
                                </button>
                            </form>
                            
                            <form action="/wc">
                                <input type="hidden" name="prod_id" value="{{ pd.id }}" id="prod_id"> 
                                <input type="hidden" name="product_quantity" id="product_quantity" value="1"> 
                                <button type="submit" class="btn btn-danger rounded-pill px-4 py-2 mb-4 text-white">

                                    <span class="icon_heart_alt"> </span> Add WishCart 
                                </button>
                            </form>
                        </div>
                        
                        
                        <div class="product__details__widget">
                            <ul>
                                <li>
                                    <span>Availability:</span>
                                    <div class="stock__checkbox">
                                        <label for="stockin">
                                            In Stock
                                            <input type="checkbox" id="stockin">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <span>Available color:</span>
                                    <div class="color__checkbox">
                                        <label for="red">
                                            <input type="radio" name="color__radio" id="red" checked>
                                            <span class="checkmark"></span>
                                        </label>
                                        <label for="black">
                                            <input type="radio" name="color__radio" id="black">
                                            <span class="checkmark black-bg"></span>
                                        </label>
                                        <label for="grey">
                                            <input type="radio" name="color__radio" id="grey">
                                            <span class="checkmark grey-bg"></span>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <span>Available size:</span>
                                    <div class="size__btn">
                                        <label for="xs-btn" class="active">
                                            <input type="radio" id="xs-btn">
                                            xs
                                        </label>
                                        <label for="s-btn">
                                            <input type="radio" id="s-btn">
                                            s
                                        </label>
                                        <label for="m-btn">
                                            <input type="radio" id="m-btn">
                                            m
                                        </label>
                                        <label for="l-btn">
                                            <input type="radio" id="l-btn">
                                            l
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <span>Promotions:</span>
                                    <p>Free shipping</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">Description</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Specification</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">Reviews  {{r.count}}</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <h6>Description</h6>
                                <p>{{pd.description}}</p>
                                
                            </div>
                            <div class="tab-pane" id="tabs-2" role="tabpanel">
                                <h6>Specification</h6>
                                <p>{{pd.description}}</p>
                            </div>
                      
                            <div class="tab-pane" id="tabs-3" role="tabpanel">
                                <h6>Reviews ( 2 )</h6>
                                {% for r in r %}
                                <div class="d-flex">
                                            
                                    <img src="{% static "img/Male_Avatar.jpg" %}" class="img-fluid rounded-circle p-3" style="width: 100px; height: 100px;" alt="">
                                    <div class="">
                                        <p class="mb-2" style="font-size: 14px;"><span>{{ r.date }}</span></p>
                                        <div class="d-flex justify-content-between">
                                            <h5><span>{{r.user.username}}</span></h5>
                                            <div class="d-flex mb-3">
                                                <i class="fa fa-star {% if r.rating > 0 %}on{% endif %} "></i>
                                                <i class="fa fa-star {% if r.rating > 1 %}on{% endif %} "></i>
                                                <i class="fa fa-star {% if r.rating > 2 %}on{% endif %} "></i>
                                                <i class="fa fa-star {% if r.rating > 3 %}on{% endif %} "></i>
                                                <i class="fa fa-star {% if r.rating > 4 %}on{% endif %} "></i>
                                            </div>
                                        </div>
                                        <p>{{r.comment}} </p>
                                    </div>
                                    
                                </div>
                                {% endfor %}
                            </div>
                            <form action="" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name='prod_id' value= " {{ prodduct.id }} ">
                                <h4 class="mb-5 fw-bold">Leave a Reply</h4>
                                <div class="row g-4">
                               
                                   
                                    <div class="col-lg-12">
                                        <div class="border-bottom rounded my-4">
                                            <textarea name="comment" id="comment" class="form-control border-0" style="width: 100%; height: 10em;" placeholder="Your Review *" spellcheck="false"></textarea>
                                        </div>
                                        
                                        
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="d-flex justify-content-between py-3 mb-5">
                                            <div class="d-flex align-items-center">
                                                <p class="mb-0 me-3">Please rate:</p>
                                                
                                                <div class='product-ratings'>
                                                    <label for="star-1" class='label'>
                                                    <i class='fa fa-star'></i>
                                                    </label>
                                                    <input type="radio" class='input' id='star-1' name='rating' value='1' >
                                                    <label for="star-2" class='label'>
                                                        <i class="fa fa-star"></i>
                                                    </label>
                                                    <input type="radio" class='input' id='star-2' name='rating' value='2' >
                                                    <label for="star-3" class='label'>
                                                        <i class="fa fa-star"></i>
                                                    </label>
                                                    <input type="radio" class='input' id='star-3' name='rating' value='3' >
                                                    <label for="star-4" class='label'>
                                                        <i class="fa fa-star"></i>
                                                    </label>
                                                    <input type="radio" class='input' id='star-4' name='rating' value='4' >
                                                    <label for="star-5" class='label'>
                                                        <i class="fa fa-star"></i>
                                                    </label>
                                                    <input type="radio" class='input' id='star-5' name='rating' value='5' checked >
                                                </div>
                                                
                                            </div>
                                           <button type="submit" class="btn border border-secondary  rounded-pill px-4 py-3 bg-danger text-white">Post Comment</button>
                                        </div>
                                    </div>
                                
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="related__title">
                        <h5>RELATED PRODUCTS</h5>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9">
                    <div class="row">
                        {% for p in rr %}
                        <div class="col-lg-3 col-md-6"> <!-- Adjusted column width to accommodate 4 items per row -->
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="{{p.images1.url}}">
                                    <ul class="product__hover">
                                        <li><a href="{{p.images1.url}}" class="image-popup"><span class="arrow_expand"></span></a></li>
                                        <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                        <li><a href="{% url "product_details" p.id %}"><span class="icon_bag_alt"></span></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">{{p.name}}</a></h6>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="product__price">$ {{p.price}}</div>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:4 and not forloop.last %} <!-- Adjusted divisibleby to 4 -->
                            </div><div class="row">
                        {% endif %}
                        {% endfor %}
                        <div class="col-lg-12 text-center">
                            <div class="pagination__option">
                                {% if p.has_previous %}
                                    <a href="?page=1"><i class="fa fa-angle-double-left"></i></a>
                                    <a href="?page={{ p.previous_page_number }}"><i class="fa fa-angle-left"></i></a>
                                {% endif %}
                                {% for num in p.paginator.page_range %}
                                    <a href="?page={{ num }}">{{ num }}</a>
                                {% endfor %}
                                {% if p.has_next %}
                                    <a href="?page={{ p.next_page_number }}"><i class="fa fa-angle-right"></i></a>
                                    <a href="?page={{ p.paginator.num_pages }}"><i class="fa fa-angle-double-right"></i></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                
                
                
                
                
                
                
                
            </div>
       </div>
    </section>
    <!-- Product Details Section End -->

  {% endblock content %}