{% extends "base.html" %}
{% load static %}

{% block title %} Search{% endblock title %}
 {% block content %}
 <br> <br> <br> <br> <br>
<div class="container my-5">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
               {% if product %}

               {% for product in product %}
               <br> <br> <br>
                <div class="col-sm-4 text-center mb-4">
                    <a href="" class="btn">
                        <div class="item">
                           <a href="{% url "product_details" product.id %}"> <img src="{{product.images1.url}}" alt="" height="300" class=""></a>
                            <div class="fw-bold">{{product.name}}</div>
                            <div class="fw-bold">Tk. {{product.price}} 
                                   
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
                {% else %}
                <h1 class='text-danger'>This Product Not Abailable</h1>

                {% comment "" %}<div class='fixed-size'>
                  <img src="{% static "img/not-available.jpg" %}" class="img-fluid rounded-top w-100 fixed-size" alt="">
                 </div>
                 {% endcomment %}
                {% endif %}
                
                
            </div>
        </div>
    </div>
</div>
{% endblock content %}